{
  "root": true,
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier",
    "airbnb-base"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["tsconfig.json"],
    "sourceType": "module"
  },
  "ignorePatterns": ["src/**/__tests__/*", "node_modules/**/*", "dist/**/*"],
  "plugins": ["@typescript-eslint", "import"],
  "rules": {
    "quotes": ["error", "double"],
    "@typescript-eslint/no-var-requires": "off",
    "new-cap": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
}
